<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Praktikum</title>
</head>
<body>

    <div id="app">
        <ol>
            <li v-for="(todo, index) in todos">
                {{ todo }}
                <button v-on:click="deleteList(index)">Hapus</button>
            </li>
        </ol>
        <p v-if="todos.length == 0">Daftar kegiatan masih kosong</p>

        <input v-on:keyup.enter="addList" type="text" v-model="todo"> 
        <button v-on:click="addList">Tambahkan</button>

        <p v-if="todos.length >= 4">Hebat!</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <script>
        new Vue ({
            el : '#app',
            data : {
                todo : "",
                todos : []
            },
            methods : {
                addList() {
                    this.todos.push(this.todo)
                    this.todo = ""
                },
                deleteList(index) {
                    this.todos.splice(index, 1)
                }
            }
        })
    </script>
    
</body>
</html>